include hicexplorer/trained_models/10kb_model_cleanlab_proteins_obs_exp.BIN
include hicexplorer/trained_models/25kb_model_cleanlab_proteins_obs_exp.BIN
include hicexplorer/trained_models/50kb_model_cleanlab_proteins_obs_exp.BIN
include hicexplorer/trained_models/100kb_model_cleanlab_proteins_obs_exp.BIN
include hicexplorer/trained_models/10kb_model_cleanlab_proteins_range.BIN
include hicexplorer/trained_models/25kb_model_cleanlab_proteins_range.BIN
include hicexplorer/trained_models/50kb_model_cleanlab_proteins_range.BIN
include hicexplorer/trained_models/100kb_model_cleanlab_proteins_range.BIN

