numpy >= 1.15.*
scipy >= 1.1.*
matplotlib >= 2.2*
pysam >= 0.14.*
intervaltree >= 2.1.*
biopython >= 1.72.*
pytables >= 3.4.*
pandas >= 0.23.*
pybigwig >= 0.3.*
jinja2 >= 2.10
six >= 1.11.*
future >= 0.17.*
unidecode >= 1.0.*
hic2cool >= 0.4.*
psutil >= 5.4.8
hicmatrix >= 5
pygenometracks >= 2.1