numpy >= 1.16.*
scipy >= 1.2.*
matplotlib = 3.0.*
pysam >= 0.15.*
intervaltree >= 3.0.*
biopython >= 1.73.*
pytables >= 3.5.*
pandas >= 0.24.*
pybigwig >= 0.3.*
jinja2 >= 2.10
six >= 1.12.*
future >= 0.17.*
unidecode >= 1.1.*
hic2cool >= 0.7.*
psutil >= 5.6.*
pygenometracks >= 3.0
fit_nbinom >= 1.1
hicmatrix >= 10
cooler >= 0.8.5
krbalancing >= 0.0.5